body{
  background-color: #fbfaf9;
}

.container{
width:100%;
height:100%;
font-family: "Open Sans",Helvetica,Arial,sans-serif;
letter-spacing: 1px;
text-transform:uppercase;
}
.header{
  width: 100%;
  margin-left: -10px;
  /*margin-right: -100px;*/
  background-color: white;
  border-top: 5px solid #F05A50;
  border-bottom: 1px solid #e9e7e1;
  padding: 18px;
  margin-top: -11px;
}
.title{
  color:#002841;
  margin-left: 80px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.titleText{
  position: absolute;
  margin-left: 45px;
  margin-top: 5px;
}

.titleText span{
  font-weight: 500;
  font-size: 12px;
}
.gallery{
  padding:20px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align:center;
}
.drag{
  background-color: none;
  margin-top: 190px;
  margin: 5px;
  padding-bottom:50px;
  margin-top: -100px;
}

.image{
  z-index: -1;
  border: 3px solid #fbfaf9;
  width:250px;
  padding-bottom: 0px;
  cursor:move;  
}